body{
  background-color: hsl(0, 0%, 10%);
}
.To-Do-List{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  color: white;
}
h1{
  font-size: 4rem;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  color: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-butn{
  Background-color: hsl(124, 50%, 54%);
}
.add-butn:hover{
  Background-color: hsl(124, 50%, 44%);
}

.delete-button{
  Background-color: hsl(4, 100%, 50%);
}
.delete-button:hover{
  Background-color: hsl(4, 99%, 42%);
}

input[type="text"]{
  font-size: 1.6rem;
  border: 2px solid hsl(0, 0%, 80%);
  padding: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom:  10px;
  border: 3px solid hsla(0, 0%, 185%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: black;
}
.text{
  flex: 1;
}
.delete-button, .Move-button-up, .Move-button-Down{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}